.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0;
  transition: all 0.4s ease-in-out;

  &.button--facebook {
    background: $facebook;
    color: #fff;

    &:hover {
      background: darken($facebook, 10%);
    }
  }

  &.button--blue {
    background: $blue;
    color: #fff;

    &:hover {
      background: darken($blue, 10%);
    }
  }

  &.button--clear {
    background: transparent;
  }

  &.button--primary {
    height: 48px;
    background: $orange;
    color: #fff;
    padding: 0 16px;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: darken($orange, 5%);
      color: #fff;
    }
  }
}
