.site-header {
}

.top-header {
  display: none;
  @include for-tablet-landscape-up {
    height: 61px;
    display: flex;
    align-items: stretch;
  }
}

.top-header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contact-box {
  flex: 0 0 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
}

.contact-box__label {
  font-size: 0.75em;
  color: #fff;
  font-weight: 300;
  display: block;
}

.contact-box__link {
  font-size: 1em;
  color: $orange;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bottom-header {
  height: 70px;
  display: flex;
  align-items: stretch;
  @include for-tablet-landscape-up {
    height: 76px;
  }
}

.bottom-header__container {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);

  @include for-tablet-landscape-up {
  }
}

.header-logo {
  height: 70px;
  display: block;
  background: $orange;

  @include for-tablet-landscape-up {
    height: auto;
  }
}

.header-logo__image {
  height: 100%;
}

.main-nav {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);

  &.is-active {
    display: block;
  }

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: static;
    margin: 0 auto;
    box-shadow: none;
  }

  @include for-desktop-up {
    // margin-left: 100px;
  }
}

.main-nav__link {
  display: flex;
  align-items: center;
  background: $blue;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 0 15px;

  @include for-tablet-landscape-up {
    align-items: center;
    padding: 0 5px;
    font-size: 1em;
    text-decoration: none;
    background: transparent;
    color: $grey;
    height: auto;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease-in-out;

    &:not(:last-child) {
      //margin-right: 55px;
    }

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }

  @include for-desktop-up {
    padding: 0 27.5px;
  }
}

.main-nav__button {
  display: none;
  @include for-tablet-landscape-up {
    display: flex;
    margin-left: auto;
    width: 170px;
  }
}

.nav-toggle {
  outline: 0;
  width: 42px;
  height: 36px;
  position: relative;
  margin: 0 15px 0 auto;
  align-self: center;
  transition: all 0.4s ease-in-out;

  &__line {
    position: absolute;
    height: 6px;
    right: 0;
    left: 0;
    background: $blue;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 15px;
    }

    &:last-child {
      bottom: 0;
    }
  }

  &.is-open {
    transform: rotate(45deg);
    .nav-toggle__line {
      &:first-child {
        top: 50%;
        transform: translate3d(0, -50%, 0) rotate(-90deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        bottom: 50%;
        transform: translate3d(0, 50%, 0);
      }
    }
  }

  @include for-tablet-landscape-up {
    display: none;
  }
}
