{
  "extends": ["airbnb-base"],
  "globals": {
    "google": true,
    "document": true,
    "YT": true,
    "WebFont": true
  },
  "rules": {
    "no-unused-vars": [0]
  },
  "env": {
    "browser": true
  }
}