@import 'base';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  line-height: 1.6;
  color: $grey;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
}

body {
  background: url('/dist/img/hero-background-small.jpg') center top no-repeat #fff;
  width: 100vw;
  overflow-x: hidden;

  &.no-bg {
    background: none;
  }

  @include for-tablet-landscape-up {
    background: url('/dist/img/hero-background.jpg') center top no-repeat #fff;

    &.no-bg {
      background: none;
    }
  }
}

body,
input,
textarea,
button {
  font-size: 16px;
}

.container {
  @include container;
}

h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 30px;
}

h2 {
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 20px;
}

p {
  margin: 15px 0;
}

a {
  color: $orange;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: darken($orange, 15%);
  }
}

ol {
  margin: 15px 0;
  padding-left: 25px;
  list-style-type: decimal;
}
.progressive {
  overflow: hidden;

  &:not(.replace) {
    cursor: default;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0 none;

    &.preview {
      filter: blur(2vw);
      transform: scale(1.05);
    }

    &.reveal {
      position: absolute;
      left: 0;
      top: 0;
      will-change: transform, opacity;
      animation: reveal 1s ease-out;
    }
  }
}

@keyframes reveal {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
